/* Estilo global del cuerpo */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Estilo de la página de login */
.login-page {
    background: rgb(39, 175, 173) url('../../assets/img/fondito.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Contenedor principal del login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(147, 207, 206, 0.9); /* Transparencia */
    padding: 40px;
    border-radius: 10px;
    position: relative;

    /* Efecto de desvanecimiento en los bordes */
    box-shadow: 0 0 30px 20px rgba(147, 207, 206, 0.5),
                0 0 50px 50px rgba(39, 175, 173, 0.3);
}

/* Imagen del perrito */
.dog-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Ocultar los ojos del perrito */
.dog-hide-eyes {
    filter: brightness(0.5); /* Simula que está "tapándose" */
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid lightgray;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input:focus {
    outline: 3px solid #1f7283;
}

/* Botones */
button {
    margin: 5px auto;
    padding: 10px 20px;
    border-radius: 10px;
    width: 50%;
    font-size: 16px;
    background-color: #4e97a6;
    color: black;
    border: none;
    cursor: pointer;
}


.password-toggle {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.password-toggle input {
    width: auto;
    margin-right: 5px;
}

/* Contenedor de botones */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;    
}

